<head>
  <title>Edit Listing</title>
</head>

<body class="listing_index">
    <h1><u>Edit Your Listing<u></h1>

    <%= form_for @listing do |l| %>

    	<%= l.label :name %>
    	<%= l.text_field :name, type: "Name" %><br />

    	<%= l.label :description %>
    	<%= l.text_field :description, type: "Description" %><br />

      <%= l.label :country %>
      <%= l.text_field :country, type: 'Country' %><br />

      <%= l.label :city %>
      <%= l.text_field :city, type: 'City' %><br />

      <%= l.label :address %>
      <%= l.text_field :address, type: 'Address' %><br />

      <%= l.label :room_type %>
      <%= l.select :room_type, options_for_select(
      
        [["Entire Home/Apt", "Entire Home/Apt"], 
        ["Private Room", "Private Room"],
        ["Shared Room", "Shared Room"]]
        ) %><br />

      <%= l.label :property_type %>
      <%= l.select :property_type, options_for_select(
      
        [["Apartment", "Apartment"],
        ["Barn", "Barn"], 
        ["Boat" , "Boat"],
        ["Bungalow", "Bungalow"],
        ["Caravan", "Caravan"],
        ["Castle", "Castle"],
        ["Cave", "Cave"],
        ["Igloo", "Igloo"],
        ["Mansion", "Mansion"], 
        ["Villa", "Villa"]]
        
        ) %><br />

      <%= l.label :accomodates %>
      <%= l.text_field :accomodates, type: 'Accomodates' %><br />

      <%= l.label :num_of_bedrooms %>
      <%= l.text_field :num_of_beds, type: 'Number of Bedrooms' %><br />

      <%= l.label :num_of_bathrooms %>
      <%= l.text_field :num_of_bathrooms, type: 'Number of Bathrooms' %><br />

      <div class="field">
        <%= l.label :tag_list, "Tags (separated by commas)" %>
        <%= l.text_field :tag_list %>
      </div><br />

      <%= l.label :price %>
      <%= l.number_field :price, type: 'Price Per Stay'%><br />

      <%= l.file_field :image, multiple: true %><br />

      <%= l.submit %>

    <% end %>
    
</body>