<h3>Welcome back <b><%= current_user.first_name %></b>!</h3>
<h2>These are all the listings</h2>

<% @listings.each do |x| %>
  <h2></b><%= link_to x.name, x %></h2>
  <p><b>Description of Listing: </b><%= x.description %></p>
  <p><b>Country: </b><%= x.country %></p>
  <p><b>City: </b><%= x.city %></p>
  <p><b>Address: </b><%= x.address %></p>
  <p><b>Room Type: </b><%= x.room_type %></p>
  <p><b>Property Type: </b><%= x.property_type %></p>
  <p><b>Accomodates: </b><%= x.accomodates %></p>
  <p><b>Number of Bedrooms: </b><%= x.num_of_beds %></p>
  <p><b>Number of Bathrooms: </b><%= x.num_of_bathrooms %></p>
  <p><b>Hosted By: </b><%= x.user.first_name %> <%= x.user.last_name %></p>

  <% if @user.id == x.user_id%>
    <p><%= link_to "Delete Listing", listing_path(x.id), method: "delete" %></p>
  <% else %>
    <p><%= link_to "Make a Reservation", "#" %></p>
  <% end %><hr/>
<% end %>
