<h1>Listings#New</h1>

<p>Welcome back <b></b>!</p>

<h3>Add a Listing</h3>

<%= form_for @listing do |form| %>
  <div class="text-field">
    <%= form.label :name %>
    <%= form.text_field :name, type: 'Name of Listing' %>
  </div>

  <div class="text-field">
    <%= form.label :description %>
    <%= form.text_field :description, type: 'Description of listing' %>
  </div>

  <div class="text-field">
    <%= form.label :country %>
    <%= form.text_field :country, type: 'Country' %>
  </div>

  <div class="text-field">
    <%= form.label :city %>
    <%= form.text_field :city, type: 'City' %>
  </div>

  <div class="text-field">
    <%= form.label :address %>
    <%= form.text_field :address, type: 'Address' %>
  </div>

  <div class="text-field">
    <%= form.label :room_type %>
    <%= form.text_field :room_type, type: 'Room Type' %>
  </div>

  <div class="text-field">
    <%= form.label :property_type %>
    <%= form.select :property_type, options_for_select(
    
      [["Apartmentt", "apartment"], 
      ["Igloo", "igloo"]]

      ) %>
  </div>

  <div class="text-field">
    <%= form.label :accomodates %>
    <%= form.text_field :accomodates, type: 'Accomodates' %>
  </div>

  <div class="text-field">
    <%= form.label :num_of_bedrooms %>
    <%= form.text_field :num_of_beds, type: 'Number of Bedrooms' %>
  </div>

  <div class="text-field">
    <%= form.label :num_of_bathrooms %>
    <%= form.text_field :num_of_bathrooms, type: 'Number of Bathrooms' %>
  </div>


  <div class="submit-field">
    <%= form.submit %>
  </div>

<% end %>
