<head>
	<title><%= @listing.name %> hosted by <%= @listing.user.first_name %> <%= @listing.user.last_name %></title>
</head>

<body>

	<h5>Welcome back <b><%= current_user.first_name %></b>!</h5>

	<h2><%= @listing.name %></h2>
	<p><b>Description: </b></p><%= @listing.description %><br>
	<p><b>Country: </b><%= @listing.country %></p><br>
	<p><b>City: </b><%= @listing.city %></p><br>
	<p><b>Address: </b><%= @listing.address %></p><br>
	<p><b>Room Type: </b><%= @listing.room_type %></p><br>
	<p><b>Property Type: </b><%= @listing.property_type %></p><br>
	<p><b>Accomodates: </b><%= @listing.accomodates %></p><br>
	<p><b>Number of Bedrooms: </b><%= @listing.num_of_beds %></p><br>
	<p><b>Number of Bathrooms: </b><%= @listing.num_of_bathrooms %></p><br>
	<p><b>Categories: </b>
    <%= raw @listing.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p><br>
	<p><b>Price Per Stay: </b><%= @listing.price %></p><br>
	<% @full_name = @listing.user.first_name + " " + @listing.user.last_name %>
	<p><b>Hosted By: </b><%= link_to "#{@full_name}", user_path(@listing.user_id) %></p><br>

</body>