<div class="text-field">
  <%= form.label :first_name  %>
  <%= form.text_field :first_name, type: 'First Name' %>
</div>

<div class="text-field">
  <%= form.label :last_name %>
  <%= form.text_field :last_name, type: 'Last Name' %>
</div>

<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

<div class="date-field">
  <%= form.date_select :birthday , start_year: Date.today.year-100, end_year: Date.today.year%>
</div>

<div>
  <%= form.check_box :subscribe, value: 1 %>
  <%= label_tag(:subscribe, "Subscribe to Newsletter") %>
</div>
