<div container="fluid">
<h2><u>Edit Your Profile</u></h2>

<%= form_for @user do |u| %>

	<%= u.label :first_name %>
 	<%= u.text_field :first_name, type: 'First Name' %><br />

	<%= u.label :last_name %>
 	<%= u.text_field :last_name, type: 'Last Name' %><br />

	<%= u.submit %>
<% end %>
</div container="fluid">
