<h1><u>Edit Your Profile</u></h1>

<%= form_for @user do |u| %>

	<%= u.label :first_name %>
 	<%= u.text_field :first_name, type: 'First Name' %><br/>

	<%= u.label :last_name %>
 	<%= u.text_field :last_name, type: 'Last Name' %><br/>

  <%= u.label :email %>
  <%= u.text_field :email, type: 'Email' %><br/>

  <%= u.label :birthday %>
  <%= u.date_field(:birthday) %><br/>

  <%= u.label :gender %>
  <%= u.select :gender, options_for_select(
    [["Male", "Male"], ["Female", "Female"]]
    )%><br/>

  <%= u.label :about %>
  <%= u.text_area(:about) %><br/>

  <%= u.check_box :subscribe, value: 1 %>
  <%= label_tag(:subscribe, "Subscribe to Newsletter") %><br/>

  <%= u.file_field :avatar %></br/>

	<%= u.submit %>

<% end %>

