<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <ul class='alert alert-danger'>
    Error!
  <% @user.errors.full_messages.each do |f| %>
    <li><%= f %></li>
  <% end %>
  </ul>
  
  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>
