<title><h1>All Your Reservations</h1></title>

<h1>All Your Reservations</h1>

<p>
	<div>
		<div class="image carousel-list slide carousel-inner listing_image">
			<%@listing.image.each.with_index do |x, i|%>
				<% if i == 1 %>
					<div class="item active">
				<% else %>
					<div class='item'>
				<% end %>
				<%= image_tag x.normal %>
			</div>
			<% end %>
		</div>

		<h2></b><%= link_to @listing.name, @listing %></h2>

		<strong>Description:</strong>
		<%= @listing.description %><br>

		<strong>Address:</strong>
		<%= @listing.address %><br>

		<strong>Property type:</strong>
		<%= @listing.property_type %><br>

		<strong>Room:</strong>
		<%= @listing.room_type %><br>

		<strong>Bedrooms:</strong>
		<%= @listing.num_of_beds %><br>

		<strong>Bathrooms:</strong>
		<%= @listing.num_of_bathrooms %><br>

		<strong>Price:</strong>
		<%= @listing.price %><br>

		<strong>Tags:</strong>
		<%= @listing.tag_list %><br>

	</div>
</p>

</hr>



<table class="table" style="width:100%">
	<tr>
		<th><strong>No.</strong>
		<th><strong>Booking id number</strong></th>
		<th><strong>Check in date</strong></th>
		<th><strong>Check out date</strong></th><br>
	</tr>

	<tr>
		<td>Number should be here</td>
		<td><%= @reserve.id %></td>
		<td><%= @reserve.check_in %></td>
		<td><%= @reserve.check_out %></td><br>
	</tr>
</table>
