<title><h1>All Your Reservations</h1></title>

<h1>All Your Reservations</h1>

<p>
	<div>
		<div class="image carousel-list slide carousel-inner listing_image">
			<%@listing.image.each.with_index do |x, i|%>
				<% if i == 1 %>
					<div class="item active">
				<% else %>
					<div class='item'>
				<% end %>
				<%= image_tag x.normal %>
			</div>
			<% end %>
		</div>

		<h2></b><%= link_to @listing.name, @listing %></h2>

		<b>Description:</b>
		<%= @listing.description %><br>

		<b>Address:</b>
		<%= @listing.address %><br>

		<b>Property type:</b>
		<%= @listing.property_type %><br>

		<b>Room:</b>
		<%= @listing.room_type %><br>

		<b>Bedrooms:</b>
		<%= @listing.num_of_beds %><br>

		<b>Bathrooms:</b>
		<%= @listing.num_of_bathrooms %><br>

		<b>Price:</b>
		<%= @listing.price %><br>

		<b>Tags:</b>
		<%= @listing.tag_list %><br>

	</div>
</p>

</hr>



<table class="table" style="width:100%">
	<tr>
		<th><b>No.</b>
		<th><b>Booking id number</b></th>
		<th><b>Check in date</b></th>
		<th><b>Check out date</b></th><br>
	</tr>

	<tr>
		<td>Number should be here</td>
		<td><%= @reserve.id %></td>
		<td><%= @reserve.check_in %></td>
		<td><%= @reserve.check_out %></td><br>
	</tr>
</table>
