<h1>Confirm Your Reservation Details</h1>

<p>
	<div>
		<h2></b><%= link_to @listing.name, @listing %></h2>

		<b>Description:</b>
		<%= @listing.description %><br>

		<b>Address:</b>
		<%= @listing.address %><br>

		<b>Property type:</b>
		<%= @listing.property_type %><br>

		<b>Room:</b>
		<%= @listing.room_type %><br>

		<b>Bedrooms:</b>
		<%= @listing.num_of_beds %><br>

		<b>Bathrooms:</b>
		<%= @listing.num_of_bathrooms %><br>

		<b>Price:</b>
		<%= @listing.price %><br>

		<b>Tags:</b>
		<%= @listing.tag_list %><br>

		<% @full_name = @listing.user.first_name + " " + @listing.user.last_name %>
		<p><b>Hosted By: </b><%= link_to "#{@full_name}", user_path(@listing.user_id) %></p>

		<hr><br>

		<b>Total Price<b><br><br>

		<%= link_to 'Proceed to Payment', new_reservation_payment_path(@reserve) %>

		<br><hr><br>

	</div>
</p>
</hr>

