<h1>Show a Specific Reservation</h1>

<p>
	<div>


		<h2></b><%= link_to @listing.name, @listing %></h2>

		<b>Description:</b>
		<%= @listing.description %><br>

		<b>Address:</b>
		<%= @listing.address %><br>

		<b>Property type:</b>
		<%= @listing.property_type %><br>

		<b>Room:</b>
		<%= @listing.room_type %><br>

		<b>Bedrooms:</b>
		<%= @listing.num_of_beds %><br>

		<b>Bathrooms:</b>
		<%= @listing.num_of_bathrooms %><br>

		<b>Price:</b>
		<%= @listing.price %><br>

		<b>Tags:</b>
		<%= @listing.tag_list %><br>

		<% @full_name = @listing.user.first_name + " " + @listing.user.last_name %>
		<p><b>Hosted By: </b><%= link_to "#{@full_name}", user_path(@listing.user_id) %></p><br>

	</div>
</p>

</hr>

<table class="table" style="width:100%">
	<tr>
		<th><b>No.</b>
		<th><b>Booking id number</b></th>
		<th><b>Check in date</b></th>
		<th><b>Check out date</b></th><br>
	</tr>

	<tr>
		<td>Number should be here</td>
		<td><%= @reserve.id %></td>
		<td><%= @reserve.start_date %></td>
		<td><%= @reserve.end_date %></td><br>
	</tr>
</table>