
     <h1>Hi <b><%= @customer.first_name %></b>, thank you for choosing ZB&B!</h1>
     <p>You have successfully booked your getaway, please see below for your reservation confirmation!<p></br><br>
       
 	<p><b>Your destination is: </b><%= @listing.name %></p><br>
	<% @full_name = @listing.user.first_name + " " + @listing.user.last_name %>
	<p><b>Hosted By: </b><%= link_to "#{@full_name}", user_path(@listing.user_id) %></p><br>
    <p><b>Check-in: </b><%= @reservation.start_date %></p><br>
    <p><b>Check-out: </b><%= @reservation.end_date %></p><br>

    <p>Check your travel details here: <%= @url %></p>
    <p>Have a pleasant stay at <%= @listing.name %>!</p>
  