<center>

    <table class="table" style="width:100%">
        <tr>
            <th><b>Booking id number</b></th>
            <th><b>Check in date</b></th>
            <th><b>Check out date</b></th><br>
        </tr>

        <tr>
            <td><%= @reservation.id %></td>
            <td><%= @reservation.start_date %></td>
            <td><%= @reservation.end_date %></td><br>
        </tr>
    </table>

    <div class="payment" style="margin-top: 40px; width: 60%;">
        <h3> Pay outstanding amount below </h3>
        <form id="checkout" method="post" action="/reservations/<%= @reservation.id %>/payments">
            <div id="payment-form"></div>
            <input type="submit" value="Pay $<%= @reservation.amount %>">
        </form>

        <script src="https://js.braintreegateway.com/js/braintree-2.24.0.min.js"></script>

        <script>
            braintree.setup(
    // Replace this with a client token from your server
    "<%= @client_token %>",
    "dropin", {
        container: "payment-form"
    });
        </script>
    </div>
</center>