<!DOCTYPE html>
<html lang="en">
<head>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application' %>
  <%= csrf_meta_tag %>
  <!-- Viewport i.e. user's terminal/device. Initial scale means DO NOT ZOOM  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
  integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <!-- Include Required Prerequisites -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <!-- Include Date Range Picker -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
   <!-- Braintree --> 
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>

</head>
<body>

  <div class="col-xs-12">

    <%= render partial: "layouts/navbar" %>


    <!-- Bar, top right -->

      <div id="flash">
        <% flash.each do |key, value| -%>
        <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>

    <br><br><br>

    <%= yield %>

    <!-- Footer -->

    <center>
      <div class="footer">
        <%= link_to "About Us", "#", class: "footer-btn" %>
        <%= link_to "Careers", "#", class: "footer-btn" %>
        <%= link_to "Press", "#", class: "footer-btn" %>
        <%= link_to "Blog", "#", class: "footer-btn" %>
        <%= link_to "Terms & Privacy", "#", class: "footer-btn" %>
      </div>
      <div style="background-color: black; color: #666666;">
        <p>Copyright © 2016 · All Rights Reserved · Zi-Wen Ho</p>
      </div>
    </center>

  </div>
</body>
<footer>
</footer>
</html>







